@page "/admin/subjects"

@using DigitalLibrary.Client.Services
@using DigitalLibrary.Shared.DTO
@using MudBlazor
@layout AdminLayout
@inject NavigationManager Navigation
@inject SubjectsServices Subjects
@inject ISnackbar Snackbar
@inject IDialogService DialogService

<ConfirmDialog @ref="confirmDialog" Title="Xác nhận xóa"
               Message="Bạn có chắc chắn muốn xóa chủ đề này này?"
               OnConfirm="DeleteSubject" />

<h3 class="d-flex align-items-center border-bottom pb-2">
    <span class="me-2" style="font-size: 1.5rem;">📑</span>
    <span class="fw-bold text-dark">Quản lý chủ đề</span>
</h3>

<div class="d-flex justify-content-between" style="margin-top:30px">
    <div class="input-group w-50">
        <input @bind="searchName" class="form-control" placeholder="Nhập tiêu đề để tìm kiếm" />
        <button class="btn btn-primary" @onclick="Search">🔍 Tìm kiếm</button>
    </div>
    <div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddSubject">➕ Thêm mới</button>
        <AddSubject OnSubjectAdded="ReloadData"></AddSubject>
@*      <button class="btn btn-success">🔄 Cập nhật vị trí</button> *@
        <button class="btn btn-danger" @onclick="() => ConfirmDelete(null)">🗑 Xóa nhiều</button>
    </div>
</div>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th><input type="checkbox" /></th>
            <th>STT</th>
            <th>Thể loại</th>
            <th>Ngày tạo</th>
            <th>Trạng thái</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @if(filteredSubjects.Count > 0){
            @foreach (var (subject, index) in filteredSubjects.Select((c, i) => (c, i)))
            {
                <tr>
                    <td><input type="checkbox" checked="@selectedIds.Contains(subject.id)" @onchange="(e) => ToggleSelection(subject.id, (bool)e.Value)" /></td>
                    <td>@(index + 1 + (currentPage - 1) * pageSize)</td>
                    <td>@subject.subjectname</td>
                    <td>@subject.createdate</td>
                    <td>
                        @if (subject.status)
                        {
                            <span class="badge bg-success">KÍCH HOẠT</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">VÔ HIỆU</span>
                        }
                    </td>
                    <td>
                        <button class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#EditSubject" @onclick="() => OpenEditModal(subject)">✏️</button>
                        <EditSubject Subject="selectedSubject" OnSubjectEdited="ReloadData"></EditSubject>
                        <button class="btn btn-sm btn-danger" @onclick="() => ConfirmDelete(subject.id)">🗑</button>
                    </td>
                </tr>
            }
        }
        else{
            <tr>
                <td colspan="10" class="text-center fw-bold text-muted py-3">Không có dữ liệu!</td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-between align-items-center mt-3">
    <button class="btn btn-outline-primary" @onclick="PreviousPage" disabled="@(!CanPrevious)">⬅ Trang trước</button>
    <span>Trang @currentPage / @totalPages</span>
    <button class="btn btn-outline-primary" @onclick="NextPage" disabled="@(!CanNext)">Trang sau ➡</button>
</div>

@code{
    private List<SubjectDTO> filteredSubjects = new();
    private int selectedId;
    private ConfirmDialog? confirmDialog;
    private SubjectDTO selectedSubject = new SubjectDTO();
    private string searchName = "";
    private List<int> selectedIds = new List<int>();

    private int currentPage = 1;
    private int pageSize = 10;
    private int totalRecords;
    private int totalPages => (int)Math.Ceiling((double)totalRecords / pageSize);
    private bool CanPrevious => currentPage > 1;
    private bool CanNext => currentPage < totalPages;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        var response = await Subjects.GetSubjectsAsync(currentPage, pageSize, searchName);

        if (response != null)
        {
            filteredSubjects = response.Data;
            totalRecords = response.TotalRecords;
            StateHasChanged();
        }
        else
        {
            filteredSubjects = new List<SubjectDTO>();
        }
    }

    private async Task Search()
    {
        currentPage = 1;
        await LoadData();
    }

    private async Task ReloadData(string message)
    {
        if (message.Contains("Thêm"))
        {
            currentPage = 1;
        }
        await LoadData();
        var severity = message.Contains("✅") ? Severity.Success : Severity.Error;
        Snackbar.Add(message, severity);
    }

    private async Task ConfirmDelete(int? id = null)
    {
        if (id.HasValue)
        {
            selectedId = id.Value;
            selectedIds.Clear();
        }
        else
        {
            selectedId = 0;
        }

        if ((selectedIds.Count > 0 && selectedId == 0) || selectedId > 0)
        {
            confirmDialog?.Show();
        }
        else
        {
            Snackbar.Add("Chưa chọn bản ghi nào!", Severity.Warning);
        }
    }

    private async Task DeleteSubject(bool confirm)
    {
        if (confirm)
        {
            bool isDeleted = false;

            if (selectedIds.Any())
            {
                isDeleted = await Subjects.DeleteSubjectsMultiAsync(selectedIds);
            }
            else if (selectedId > 0)
            {
                isDeleted = await Subjects.DeleteSubject(selectedId);
            }

            if (isDeleted)
            {
                await LoadData();
                Snackbar.Add("✅ Xóa chủ đề thành công!", Severity.Success);
            }
            else
            {
                Snackbar.Add("❌ Xóa chủ đề thất bại!", Severity.Error);
            }
        }
    }

    private void ToggleSelection(int id, bool isChecked)
    {
        if (isChecked)
        {
            if (!selectedIds.Contains(id))
                selectedIds.Add(id);
        }
        else
        {
            selectedIds.Remove(id);
        }
    }

    private bool IsChecked(int id) => selectedIds.Contains(id);

    private void OpenEditModal(SubjectDTO subject)
    {
        selectedSubject = subject;
    }

    private async Task PreviousPage()
    {
        if (CanPrevious)
        {
            currentPage--;
            await LoadData();
        }
    }

    private async Task NextPage()
    {
        if (CanNext)
        {
            currentPage++;
            await LoadData();
        }
    }
}

<style>
    h3 {
        font-size: 1.8rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

        h3 span.text-primary {
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        }

    td button {
        width: 50px !important;
    }
</style>